.todoList {
    margin: 20px;
    border: red 1px solid;
    border-radius: 5px;
    padding: 30px;
    width: 500px;
}

.button {
    background-color: red;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 5px;
}
